* {
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

:root{
  --clr-primary:#093545;
  --clr-secondary:#20DF7F;
  --clr-tertiary:#555;
  --clr-success:green;
  --clr-error:red;
  --clr-danger:brown;
}

a{
  text-decoration: none;
}

h1{
  font-size: 40px;
  margin-bottom: 16px;
}

h2{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 14px;
}

h3{
  font-size: 24px;
  margin-bottom: 12px;
}

h4{
  font-size: 20px;
  margin-bottom: 10px;
}



/* ====================== */
#root {
  height: 100vh;
}

/* Genel Yapi */
#root > header {
  /* border-bottom: 2px solid black; */
  height: 15%;
}

/* ===========main============ */
main {
  /* border: 2px solid purple; */
  height: 70%;
}

main > div {
  /* border: 2px solid black; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Yatayda ortala */
  justify-content: center; /* Dikeyde ortala */
}


/* =============== Footer ============ */
#root > footer {
  display: flex;
  align-items: end;
  /* border: 2px solid black; */
  min-height: 15%;
}

#root > footer >  img {
  object-fit: cover;
  width: 100%; 
  height: 100%; 
}


/* ====================== Login Header =================*/
#root > header > nav {
  /* border: 2px solid aqua; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logoLogin img {
  /* border: 2px solid black; */
  margin-top: 5px;
  width: 120px;
  height: auto;
}

.navButtons button {
  border: none;
  background-color: var(--clr-primary);
  color: white;
  width: 110px;
  height: 45px;
  border-radius: 40%;
  transition: transform 0.2s ease;
}

.navButtons button:hover {
  cursor: pointer;
}

.navButtons button:active {
  transform: scale(0.9);
  color: wheat;
}

/*=============== form =============== */
form {
  /* border: 2px solid black; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--clr-primary);
}


input[type="email"],input[type="password"],input[type="text"]{
  height: 40px;
  padding: 8px 16px;
  width: 300px;
  font-size: 1.1rem;
  background-color: var(--clr-primary);
  border-radius: 10px;
  border: none;
  color: white;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  color: white; 
}

button{
  width: 300px;
  height: 37px;
  background-color: var(--clr-secondary);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #888888;
  color: var(--clr-primary);
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:active{
  transform: scale(0.9);
  

}

form>section{
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

/* =========================Manager Page Başlangıç=============================== */

.managerPage >main {
  display: flex;
}

.managerPage >main > .managerSideBar {
  border: 2px solid #20DF7F;
  background-color: #093545;
  border-radius: 15px;
  display: flex;
  width: 250px;
  height: 90vh;
  align-items: start;
  justify-content: start;
  overflow: hidden;

}

.managerSideBarTitle {
  
  display: flex; /* Öğeyi bir flex konteynırı olarak ayarlayın */
  justify-content: center; /* İçeriği yatay olarak ortala */
  align-items: center; /* İçeriği dikey olarak ortala */
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: antiquewhite;

}

 .managerSideBarButton{
  border: 2px solid pink;
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.managerViewSection{
  border: 2px solid pink;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80vw ;
  height: 90vh;
}
