* {
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --clr-primary: #093545;
  --clr-secondary: #20DF7F;
  --clr-tertiary: #555;
  --clr-success: green;
  --clr-error: red;
  --clr-danger: brown;
}

a {
  /* text-decoration: none; */
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 14px;
}

h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}



/* ====================== */
#root {
  height: 100vh;
  background-color: var(--clr-primary);
}

/* Genel Yapi */
#root>header {
  /* border-bottom: 2px solid black; */
  height: 15%;
}

#root>div>header>nav{
  background-color: var(--clr-secondary);
}

/* ===========main============ */
main {
  /* border: 2px solid purple; */
  height: 70%;
}

main>div {
  /* border: 2px solid black; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Yatayda ortala */
  justify-content: center;
  /* Dikeyde ortala */
}


/* =============== Footer ============ */
#root>footer {
  display: flex;
  align-items: end;
  /* border: 2px solid black; */
  min-height: 15%;
}

#root>footer>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* ====================== Login Header =================*/
#root>header>nav {
  /* border: 2px solid aqua; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}



.logoLogin img {
  /* border: 2px solid black; */
  margin-top: 5px;
  width: 120px;
  height: auto;
}

.navButtons button {
  border: none;
  background-color: var(--clr-primary);
  color: white;
  width: 110px;
  height: 45px;
  border-radius: 40%;
  transition: transform 0.2s ease;
}

.navButtons button:hover {
  cursor: pointer;
}

.navButtons button:active {
  transform: scale(0.9);
  color: wheat;
}

/*=============== form =============== */
form {
  /* border: 2px solid black; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--clr-primary);
}


input[type="email"],
input[type="password"],
input[type="text"],
 input[type="date"],
 input[type="number"],
 input[type="tel"]{
  height: 30px;
  padding: 8px 16px;
  width: 300px;
  font-size: 1.1rem;
  background-color: var(--clr-primary);
  border-radius: 10px;
  border: none;
  color: white;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder
input[type="tel"]::placeholder{
  color: white;
}

button {
  width: 300px;
  height: 37px;
  background-color: var(--clr-secondary);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #888888;
  color: var(--clr-primary);
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:active {
  transform: scale(0.9);


}

form>section {
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: end;

}

form>select{
  height: 40px;
  padding: 8px 16px;
  width: 300px;
  font-size: 1.1rem;
  background-color: var(--clr-primary);
  border-radius: 10px;
  border: none;
  color: white;
}



/* =========================Manager Page Başlangıç=============================== */

.managerPage>header>nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.managerPage>main {
  display: flex;
}

.managerPage>main>.managerSideBar {
  /* border: 2px solid #20DF7F; */
  background-color: #093545;
  border-radius: 15px;
  display: flex;
  width: 250px;
  height: 90vh;
  align-items: start;
  justify-content: start;
  overflow: hidden;

}

.managerSideBarTitle {

  display: flex;
  /* Öğeyi bir flex konteynırı olarak ayarlayın */
  justify-content: center;
  /* İçeriği yatay olarak ortala */
  align-items: center;
  /* İçeriği dikey olarak ortala */
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: antiquewhite;

}

.managerSideBarButton {
  border: 2px solid pink;
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.managerViewSection {
  /* border: 2px solid pink; */
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 90vh;
  overflow-x: auto;
}

/* ===========Manager Page Personel Sayfasi Calisan Listesi============== */
.employeeTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employeeTable th {
  background-color: #20DF7F;
  border: 2px solid #093545;
  text-align: left;
  padding: 8px;
  color: 093545;
}

.employeeTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employeeTable td {
  border: 2px solid #20DF7F;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employeeTable tr:hover {
  background-color: red;
}

/* ===========Manager Page Yillik Sirket Kar Zarar Tablosu============== */

.financial-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.financial-table td {
  text-align: center; 
}

.financial-table td button {
  vertical-align: middle; 
}

.financial-table th, .financial-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.financial-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.financial-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


/*=============================Manager Page Tatil Bölümünün Css===============*/

.holidayRow{
border: 4px solid #093545 ;
border-radius: 5px;
background-color: #20DF7F;
padding: 13px;
margin-bottom: 5px;
}
.holidayRow :first-child{
  border: 4px solid #093545 ;
  border-radius: 5px;
  background-color:#093545;
  padding-left: 5px;
  font-style: italic; 
  color: aliceblue;
  text-shadow: 5px,5px,5px;
   
}


.managerViewSection {
  overflow:auto;
  background-color: rgb(239, 230, 232);
}
.financial-table tbody tr:hover {
  background-color: #ddd;

  background-color: #093545;
  color: white;

}

/* ===========Manager Page Sirket Giderleri Tablosu============== */
.companyExpensesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.companyExpensesTable th {
  background-color: #20DF7F;
  border: 2px solid #093545;
  text-align: left;
  padding: 8px;
  color: 093545;
}

.companyExpensesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.companyExpensesTable td {
  border: 2px solid #20DF7F;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.companyExpensesTable tr:hover {
  background-color: #093545;
  color: white;

}


/*=====================Personal Page Başlanıcı=================*/

.personelPage>header>nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personelPage>main {
  display: flex;
}

.personelPage>main>.personelSideBar {
  /* border: 2px solid #20DF7F; */
  background-color: #093545;
  border-radius: 15px;
  display: flex;
  width: 250px;
  height: 90vh;
  align-items: start;
  justify-content: start;
  overflow: hidden;

}

.personelSideBarTitle {

  display: flex;
  /* Öğeyi bir flex konteynırı olarak ayarlayın */
  justify-content: center;
  /* İçeriği yatay olarak ortala */
  align-items: center;
  /* İçeriği dikey olarak ortala */
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: antiquewhite;

}

.personelSideBarButton {
  border: 2px solid pink;
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.personelViewSection {
  /* border: 2px solid pink; */
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 90vh;
  overflow-x: auto;
  background-color: rgb(239, 230, 232);
}

/* Personal Info Page CSS */
.personelInfoPage {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}
.personelInfoPage h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.personelInfoPage ul {
  list-style: none;
  padding: 0;
}
.personelInfoPage ul li {
  margin-bottom: 20px;
}
.personelInfoPage ul li div {
  display: inline-block;
  margin-right: 20px;
}
.personelInfoPage ul li div h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.personelInfoPage ul li div p {
  margin-bottom: 0;
  color: #666;
}


/*=====================Admin Page Başlanıcı=================*/

.adminPage>header>nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminPage>main {
  display: flex;
}

.adminPage>main>.adminSideBar {
  /* border: 2px solid #20DF7F; */
  background-color: #093545;
  border-radius: 15px;
  display: flex;
  width: 250px;
  height: 90vh;
  align-items: start;
  justify-content: start;
  overflow: hidden;

}

.adminSideBarTitle {

  display: flex;
  /* Öğeyi bir flex konteynırı olarak ayarlayın */
  justify-content: center;
  /* İçeriği yatay olarak ortala */
  align-items: center;
  /* İçeriği dikey olarak ortala */
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: antiquewhite;

}

.adminSideBarButton {
  border: 2px solid pink;
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.adminViewSection {
  /* border: 2px solid pink; */
  background-color: rgb(239, 230, 232);
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 90vh;
  overflow-x: auto;
}


.form-group{
  display: flex; 
  flex-direction: column;
}

/* ===================== Onay Red Butonlari ================= */

.btn-approve{
  width: 40px;
  height: 30px;
}
.btn-deny{
  width: 40px;
  height: 30px;
  background-color: red;
}

/*====================Yaklaşan Ödemler=========================*/
.tablo{
  margin-top:50px;
}
.tableROW{
  border:2px solid #093545;
  margin-right: 10px;
  background-color: #20DF7F;
  margin-top: px;
}

.th{
  border:5px solid #093545;
  padding: 10px;
  background-color: #1483ab;
  color: #ddd;
  font-style: italic;
  

}
.td{
  border:2px solid #093545;
  padding: 10px;
}
.tdbtn{
  background-color: rgb(248, 40, 40);
  width: auto;
  color: #ddd;
  box-shadow: none;
  margin: 5px;
  
}

.tdbtn:hover{
  background-color: green;
}


.inputContainer{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding-top: 100px;
}

.btnCompanyQuery{
  margin-top: 10px;
}
/*======================Personal Page==========================*/

/*======================Visitor Page==========================*/
.visitorPage>header>nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.visitorPage>main {
  display: flex;
}

.visitorPage>main>.visitorSideBar {
  border: 2px solid #20DF7F;
  background-color: #093545;
  border-radius: 15px;
  display: flex;
  width: 250px;
  height: 90vh;
  align-items: start;
  justify-content: start;
  overflow: hidden;

}

.visitorSideBarTitle {

  display: flex;
  /* Öğeyi bir flex konteynırı olarak ayarlayın */
  justify-content: center;
  /* İçeriği yatay olarak ortala */
  align-items: center;
  /* İçeriği dikey olarak ortala */
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: antiquewhite;

}

.visitorSideBarButton {
  border: 2px solid pink;
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
}

.visitorViewSection {
  border: 2px solid pink;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80vw;
  height: 90vh;
  overflow-x: auto;
}


/*=====main page=====================*/

.mainPageContainer >header{
  height: 13vh;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #093545;
  padding: 30px;
}

.loginMainbtn{
  width: 100px;
  box-shadow: none;
  border: darkblue;
  border: 3px solid rgb(167, 106, 26);
  font-size: 20px;
}


.mainPageContainer >main{

  height: 90vh;
  min-height: 200px;
}
.abotUsContainer{
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.aboutİnfo{
  height: 100%;
  width: 50%;

  padding: 30px;
  background-color: #379e17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ddd;
  font-size: 20px;
}
.aboutİnfo:hover{
  width: 100vw;
  font-size: 30px;


}
.aboutTitle{

  margin-bottom: 30px;
  font-style: italic;
}



.aboutView{

  height: 100%;
  width: 50%;
}

.resim1{
  height: 100%;
  width: 100%;
}

.companySectionMainPage{

  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

}



.companyview{
  height: 100%;
  width: 50%;
 
}
.resim2{
  height: 100%;
  width: 100%;
}



.findCompany{
  height: 100%;
  width: 50%;
  
  display: flex;
  background-color: rgb(235, 17, 54);
  flex-direction: column;
  align-items: center;
}

.findCompany:hover{
  height: 100%;
  width: 100%;
 
  display: flex;
  background-color: rgb(235, 17, 54);
  flex-direction: column;
  align-items: center;
}


.findCompanyInput{
  background-color: #1483ab;
  border: 6px solid #093545;
  border-radius: 30px;
  width: 300px;
  height: 40px;
  margin-top: 50px;
  color: #ddd;
  font-size: 20px;
 padding-left: 15px;
}

.findCompanyInput::placeholder{
  color: #ddd;
}
.findCompanyInput:hover{
  color: #ddd;
  width:90%;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.findCompanybtn{
  margin-top: 10px;
  color: #ddd;
  font-size: 20px;
  box-shadow: none;

}

.findCompanybtn1{
  margin-top: 10px;
  color: #ddd;
  font-size: 20px;
  box-shadow: none;
  
}

.findCompanybtn2{
  margin-top: 10px;
  color: #ddd;
  font-size: 20px;
  box-shadow: none;
  width: 200px;
  
}

.findCompanybtn3{
  margin-top: 10px;
  color: #ddd;
  font-size: 20px;
  box-shadow: none;
  width: 100px;
  
}

.findCompanybtn2:hover{
  font-size: 20px;
  background-color: orangered;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;
  width: 90%;
  text-decoration: none;
  font-weight: bold;
}

.allCompanySectionMainPage{
 
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

}
.companylist{
  height: 100%;
  width: 50%;
 
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.companylist:hover{
  width: 100%;
  border: 1px solid red;
  background-color: blue;
  padding: 20px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.btnCompanyContainer{
  display: flex;
  flex-direction: column;
}

.btnCompanyName{
  margin-top: 15px;
  color: bisque;
  font-size: 28px;
  box-shadow: none;
  width: 500px;
  background-color: orange;
  font-weight: bold;
  margin-left: 5px;
  display: flex;
  padding-left: 40px;

}

.btnCompanyName:hover{
 
  width: 70%;
  background-color: orangered;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;

}

.companylist > h1{
  color: rgb(236, 5, 236);
  align-items: center;
  font-weight: bolder;
  margin-left: 15px;
  margin-top: 30px;
}

.goCompany{
  margin-top: 10px;
  color: #ddd;
  font-size: 20px;
  box-shadow: none;
  width: 200px;
}
.databaseCompany{
  border: 4px solid #093545;
  margin-top: 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1483ab;
  padding: 10px;
}

.goCompany:hover{
  font-size: 20px;
  background-color: orangered;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;
  font-weight: bold;
}

.databaseCompany>h1{
  color: #ddd;
}
/* Leave a Comment  */
.comment-input {
  min-height: 180px;
  width: 800px; 
  max-height: 300px;
  padding: 10px; 
  border: 2px solid var(--clr-primary); 
  border-radius: 5px;
  resize: vertical; 
  font-size: 16px; 
}

.submit-button {
  background-color: #007bff; 
  color: #fff; 
}

.submit-button:hover {
  background-color: #0056b3; 

}

/* ================= file input ================ */

#file {
  height: 40px;
  padding: 8px 16px;
  width: 300px;
  font-size: 1.1rem;
  background-color: var(--clr-primary);
  border-radius: 10px;
  color: white;
}

#file:hover {
  background-color: var(--clr-secondary);
  border-color: #999;
}

#file:focus {
  background-color: var(--clr-secondary);
}

#phone{
  outline: 0;
}

/*===================Comapny Page==========================*/

.companyPageHeader{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.companyPageMain{
  display: flex;
}

.companyİnfosecction{

  width: 50vw;
  height: 85vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
 
  background-color: pink;
}

.companyCommentsecction{

  width: 50vw;
  height: 85vh;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  background-color: peru;
}

.contentCompany{
  color: red;
  font-size: 20px;
  border: 1px solid red;
  background-color: #ddd;
  border-radius: 30px;
  padding: 10px;
}
.contentCompanyTitle{
  margin-top: 30px;
}

.comment{
  
  width: 500px;
  min-height: 30px;
  height: auto;
  margin:10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  
  

}
/*=====mainPage Bug========*/

.erorMainPage{
  margin-top: 50px;
  border: 5px solid var(--clr-primary);
  border-radius: 30px;
  border-style: dotted;
  padding: 15px;
  font-style: italic;
  color: white;
  font-size: 50px;
  background-color: #1483ab;
}

/*==============Upcoming Page Bug===========*/
.hata{
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}
